@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");

html, body, #root {
  height: 100%;
}

.app-header {
  border-bottom: 1px solid black;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 50px;
  background-color: #343a40;
  color: aliceblue;
}

.CoverImg {
  background-image: url("https://cutewallpaper.org/21/4k-anime-landscape-wallpaper/Anime-Girl-Sky-Clouds-Sunrise-Scenery-4K-Wallpaper-67.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 10rem;
  padding-bottom: 10rem;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

