@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");

.App,
html {
  background-color: #212529;
}

.app-header {
  border-bottom: 1px solid black;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 50px;
  background-color: #343a40;
  color: aliceblue;
}

/* .app-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
} */

.CoverImg {
  background-image: url("https://cutewallpaper.org/21/4k-anime-landscape-wallpaper/Anime-Girl-Sky-Clouds-Sunrise-Scenery-4K-Wallpaper-67.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative;  */
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.addFont {
  font-family: "Josefin Sans", sans-serif;
  text-align: "center";
  text-justify: "center";
  align-items: "center";
}
